Repository tqer39/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, textlint, yamllint, markdownlint, asdf, actionlint, CODEOWNERS

.github/labeler.yml:

---
'editorconfig':
  - '.editorconfig'

'document':
  - '**/*.md'
  - '**/*.txt'
  - '**/*.rst'
  - 'LICENSE'

'textlint':
  - '**/.textlint*'

'yamllint':
  - '**/.yamllint'

'markdownlint':
  - '**/.markdownlint*.json'

'asdf':
  - '**/.tool-versions'

'actionlint':
  - '.github/workflows/actionlint.yml'

'CODEOWNERS':
  - 'CODEOWNERS'

フッターコンポーネントの修正
  src/components/Footer.tsx
Labels: none

フッターとページネーションのスタイルを変更
  src/components/Footer.tsx
  src/components/PageNation.tsx
Labels: none

Feature/add pagenation (#147)
  cspell.json
  docs/init.md
  package-lock.json
  package.json
  src/app/articles/[page]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Articles.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/PageNation.tsx
  src/components/SnsButton.tsx
  src/contents/2023-06-02-1.md
  src/contents/2023-06-07-1.md
  src/contents/2023-06-08-1.md
  src/contents/2023-06-09-1.md
  src/contents/2023-06-10-1.md
  src/contents/2023-06-11-1.md
  src/contents/2023-06-12-1.md
  src/contents/2023-06-13-1.md
  src/contents/2023-06-14-1.md
  src/contents/2023-06-15-1.md
  src/contents/2023-06-16-1.md
  src/contents/2023-06-17-1.md
  src/contents/2023-06-18-1.md
  src/contents/2023-06-19-1.md
  src/contents/2023-06-20-1.md
  src/contents/2023-06-24.md
  src/lib/markdown.ts
  src/lib/pagination.ts
Labels: document

.eslintignoreにtailwind.config.jsを追加
  .eslintignore
Labels: none

.eslintignoreにtailwind.config.jsを追加 (#177)
  .eslintignore
Labels: none

tailwindcssの設定を追加しました
  postcss.config.js
  tsconfig.json
Labels: none

npm run format
  .eslintignore
  .eslintrc.json
  cspell.json
  src/app/page.tsx
  src/contents/2023-06-24.md
  tailwind.config.js
  tsconfig.json
Labels: document

tailwindcssの設定を追加しました (#179)
  .eslintignore
  .eslintrc.json
  cspell.json
  postcss.config.js
  src/app/page.tsx
  src/contents/2023-06-24.md
  tailwind.config.js
  tsconfig.json
Labels: document

dependencies, testing, next.js, production, misc, debug, local env files, vercel, typescript
  .gitignore
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: document

dependencies, testing, next.js, production, misc, debug, local env files, vercel, typescript (#180)
  .gitignore
Labels: none

バグレポートのテンプレートを追加しました (Bug Report (jp))
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_en.yml
  .github/ISSUE_TEMPLATE/bug_report_jp.yml
Labels: document

カスタムの問題テンプレートを削除します。
  .github/ISSUE_TEMPLATE/custom.md
Labels: document

機能リクエストのテンプレートを追加しました
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request_en.yml
  .github/ISSUE_TEMPLATE/feature_request_jp.yml
Labels: document

Update issue templates (#181)
  .github/ISSUE_TEMPLATE/bug_report_en.yml
  .github/ISSUE_TEMPLATE/bug_report_jp.yml
  .github/ISSUE_TEMPLATE/feature_request_en.yml
  .github/ISSUE_TEMPLATE/feature_request_jp.yml
Labels: none

feat: add workflow for OpenAI to generate PR titles and descriptions
  .github/workflows/generate-pr-description.yml
Labels: none

Update .gitignore to include Python and Terraform specific files
  .gitignore
Labels: none

Update auto-assign configuration and workflow settings
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Labels: none

Add .editorconfig for consistent coding styles across files
  .editorconfig
Labels: editorconfig

Add cspell configuration for spell checking and custom word list
  cspell.json
Labels: none

Add Playwright configuration for end-to-end testing
  playwright.config.ts
Labels: none

Add pre-commit configuration for code quality checks
  .pre-commit-config.yaml
Labels: none

Add CLAUDE.md for project documentation and development guidelines
  CLAUDE.md
Labels: document

Add .mise.toml for tool and settings configuration
  .mise.toml
Labels: none

Add Makefile for bootstrapping development environment with Homebrew
  Makefile
Labels: none

Add Brewfile for managing development tools and dependencies
  Brewfile
Labels: none

fix: update script permissions for check_for_changes_in_terraform_files.sh
  .github/scripts/check_for_changes_in_terraform_files.sh
Labels: none

feat: add MIT License to the project
  LICENSE
Labels: document

feat: add environment configuration files for local development
  .env.example
  .envrc
Labels: none

fix: unify array syntax in pre-commit configuration
  .pre-commit-config.yaml
Labels: none

fix: update biome configuration schema and organize imports settings
  biome.json
Labels: none

fix: update deployment pipeline to include frontend and dns stages
  .github/workflows/deploy_pipeline/dev
Labels: none

feat: add textlint configuration files for linting rules and filters
  .textlintignore
  .textlintrc
Labels: textlint

feat: add yamllint configuration for YAML linting rules
  .yamllint
Labels: yamllint

fix: update biome configuration to include additional linter rules
  biome.json
Labels: none

fix: add newline at end of settings.json file
  .vscode/settings.json
Labels: none

feat: update cspell configuration with additional words
  cspell.json
Labels: none

feat: add Terraform configurations for DNS and frontend modules
  infra/terraform/envs/dev/bootstrap/outputs.tf
  infra/terraform/envs/dev/dns/main.tf
  infra/terraform/envs/dev/dns/outputs.tf
  infra/terraform/envs/dev/dns/provider.tf
  infra/terraform/envs/dev/dns/variables.tf
  infra/terraform/envs/dev/dns/versions.tf
  infra/terraform/envs/dev/frontend/main.tf
  infra/terraform/envs/dev/frontend/outputs.tf
  infra/terraform/envs/dev/frontend/providers.tf
  infra/terraform/envs/dev/frontend/variables.tf
  infra/terraform/envs/dev/frontend/versions.tf
Labels: none

chore: update Next.js to version 15 and Playwright to version 1.57.0
  package-lock.json
  package.json
Labels: none

fix: adjust formatting in CLAUDE.md for better readability
  CLAUDE.md
Labels: document
