Repository tqer39/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, textlint, yamllint, markdownlint, asdf, actionlint, CODEOWNERS

「remark-html」の追加。
  docs/init.md
  package-lock.json
  package.json
Labels: document

rehype-stringifyを追加する
  cspell.json
  docs/init.md
  package-lock.json
  package.json
Labels: document

unifiedライブラリの削除
  docs/init.md
  package-lock.json
  package.json
Labels: document

マークダウンファイルを取得する関数を追加
  src/lib/markdown.ts
Labels: none

unifiedライブラリを追加する。
  docs/init.md
  package-lock.json
  package.json
Labels: document

rehype-parseを追加しました
  docs/init.md
  package-lock.json
  package.json
Labels: document

JavaScriptライブラリを追加しました
  docs/init.md
  package-lock.json
  package.json
Labels: document

「remark-gfm」ライブラリを追加する。
  docs/init.md
  package-lock.json
  package.json
Labels: document

「remark-breaks」を追加する。
  docs/init.md
  package-lock.json
  package.json
Labels: document

getArticle.tsを修正(Translation: "Modify getArticle.ts")
  src/lib/getArticle.ts
Labels: none

「remark-prism」を追加。
  docs/init.md
  package-lock.json
  package.json
Labels: document

追加：remark-prismの型定義ファイル
  docs/init.md
  package-lock.json
  package.json
Labels: document

マークダウンをHTMLに変換する関数を追加
  src/lib/markdown.ts
Labels: none

react-syntax-highlighterを追加する
  docs/init.md
  package-lock.json
  package.json
Labels: document

react-syntax-highlighter の型定義を追加
  docs/init.md
  package-lock.json
  package.json
Labels: document

「rehype-raw」ライブラリを追加しました
  docs/init.md
  package-lock.json
  package.json
Labels: document

コードブロックの表示をカスタマイズ
  src/components/CodeBlock.tsx
Labels: none

記事ページにMarkdownを導入
  src/app/article/[id]/page.tsx
Labels: none

新しいコンポーネントChangeThemeButtonを追加
  src/components/ChangeThemeButton.tsx
Labels: none

Next.jsでブログ構築、ブログに記事を追加
  .markdownlint.json
  cspell.json
  src/contents/2023-06-02-1.md
Labels: document, markdownlint

テーマ変更のプルダウンをボタンに変更
  src/components/ThemeSwitcher.tsx
Labels: none

ブログ記事の表示を修正
  src/components/Articles.tsx
  src/components/BlogCard.tsx
  src/lib/notion.ts
Labels: none

ブログカードのアイコンの属性を修正
  src/components/BlogCard.tsx
Labels: none

記事の表示を修正
  src/components/Articles.tsx
Labels: none

記事の末尾に不要なセミコロンを削除
  src/components/Articles.tsx
Labels: none

package.jsonを更新し、eslint-plugin-sort-keys-custom-orderのバージョンを1.0.5に更新しました。
  package.json
Labels: none

package.jsonのdayjsのバージョンを変更する
  package.json
Labels: none

@tailwindcss/line-clampプラグインを削除
  docs/init.md
  package-lock.json
  package.json
  tailwind.config.js
Labels: document

"import"を追加し、ESLintルールを更新しました。
  .eslintrc.json
Labels: none

記事のエラーハンドリングを修正
  src/lib/getArticle.ts
  src/lib/markdown.ts
Labels: none

".prettierignore"に、 "**/out/"を追加。
  .prettierignore
Labels: none

simple-import-sortの設定箇所が誤っていたので修正
  .eslintrc.json
Labels: none

importプラグインの設定箇所が誤っていたので修正
  .eslintrc.json
Labels: none

"next-env.d.tsの不要なreferenceを削除"
  next-env.d.ts
Labels: none

unused-importsプラグインの設定箇所が誤っていたので修正
  .eslintrc.json
Labels: none

tailwindcssプラグインの設定箇所が誤っていたので修正
  .eslintrc.json
Labels: none

react/react-in-jsx-scopeのルールをオフにする
  .eslintrc.json
Labels: none

eslint-plugin-prettierは非推奨
  .eslintrc.json
  docs/init.md
  package-lock.json
  package.json
Labels: document

ESLintライブラリ解決時に使うパッケージマネージャを設定
  .vscode/settings.json
Labels: none

"stylelint"を保存時に自動修正する。
  .vscode/settings.json
  cspell.json
Labels: none

.github/labeler.yml:

---
'editorconfig':
  - '.editorconfig'

'document':
  - '**/*.md'
  - '**/*.txt'
  - '**/*.rst'
  - 'LICENSE'

'textlint':
  - '**/.textlint*'

'yamllint':
  - '**/.yamllint'

'markdownlint':
  - '**/.markdownlint*.json'

'asdf':
  - '**/.tool-versions'

'actionlint':
  - '.github/workflows/actionlint.yml'

'CODEOWNERS':
  - 'CODEOWNERS'
