Repository tqer39/blog, changes with the labels that .github/labeler.yml gives for each.
All labels: editorconfig, document, textlint, yamllint, markdownlint, asdf, actionlint, CODEOWNERS

.vscode/settings.jsonを編集<コミットメッセージ> フォーマット機能を追加
  .vscode/settings.json
Labels: none

"フォーマットを修正"
  .vscode/settings.json
Labels: none

Providers.tsxを修正: インポート順を変更
  src/app/Providers.tsx
Labels: none

記事ページのスタイルを変更(commit message is: 記事ページのスタイル変更)
  src/app/article/[id]/page.tsx
Labels: none

レイアウトの修正
  src/app/layout.tsx
Labels: none

Layout import順序変更
  src/components/Articles.tsx
Labels: none

BlogCardコンポーネントの修正
  src/components/BlogCard.tsx
Labels: none

Change order of imports and destructuring in ChangeThemeButton
  src/components/ChangeThemeButton.tsx
Labels: none

CodeBlockコンポーネントの修正<CodeBlock.tsx>の修正。 `CodeComponent`のインポートを変更しました。
  src/components/CodeBlock.tsx
Labels: none

フッターに著作権情報を追加
  src/components/Footer.tsx
Labels: none

Headerコンポーネントのコードを最適化する
  src/components/Header.tsx
Labels: none

テーマ切り替えボタンのスタイル修正
  src/components/ThemeSwitcher.tsx
Labels: none

importの順序を修正
  src/lib/markdown.ts
Labels: none

順序を修正
  src/lib/notion.ts
Labels: none

ブログカードの画像を <Image> から <img> に変更
  src/components/BlogCard.tsx
Labels: none

ja: reactStrictModeをtrueにするen: Set reactStrictMode to true
  next.config.js
Labels: none

記事一覧を生成する関数を追加
  src/app/article/[id]/page.tsx
Labels: none

Feature/fix ariticles (#129)
  .eslintrc.json
  .markdownlint.json
  .prettierignore
  .vscode/settings.json
  cspell.json
  docs/init.md
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/app/Providers.tsx
  src/app/article/[id]/page.tsx
  src/app/layout.tsx
  src/components/Articles.tsx
  src/components/BlogCard.tsx
  src/components/ChangeThemeButton.tsx
  src/components/CodeBlock.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/ThemeSwitcher.tsx
  src/contents/2023-06-02-1.md
  src/lib/getArticle.ts
  src/lib/markdown.ts
  src/lib/notion.ts
  tailwind.config.js
Labels: document, markdownlint

Next.jsでブログを構築するためのファイルを追加
  src/contents/2023-06-08-1.md
  src/contents/2023-06-09-1.md
  src/contents/2023-06-10-1.md
  src/contents/2023-06-11-1.md
  src/contents/2023-06-12-1.md
  src/contents/2023-06-13-1.md
  src/contents/2023-06-14-1.md
  src/contents/2023-06-15-1.md
  src/contents/2023-06-16-1.md
  src/contents/2023-06-17-1.md
  src/contents/2023-06-18-1.md
  src/contents/2023-06-19-1.md
  src/contents/2023-06-20-1.md
Labels: document

ブログ開設の理由と過程について (36 lines)
  cspell.json
  src/contents/2023-06-24.md
Labels: document

package.jsonからfast-globを削除する<fast-globを削除>
  package-lock.json
  package.json
Labels: none

Next.jsでブログ記事をマークダウンで作成
  src/contents/2023-06-07-1.md
  src/contents/2023-06-09-1.md
  src/contents/2023-06-10-1.md
  src/contents/2023-06-11-1.md
  src/contents/2023-06-12-1.md
  src/contents/2023-06-13-1.md
  src/contents/2023-06-14-1.md
Labels: document

package.jsonのビルドスクリプトを修正
  package.json
Labels: none

Notion から metadata を取得するためのライブラリを削除<metadata は Markdown file 内ではなく Notion のデータベースから取得してくるため、以下のライブラリは不要です。>
  docs/init.md
  package-lock.json
  package.json
  src/lib/markdown.ts
Labels: document

記事のメタデータを削除
  src/contents/2023-05-31-1.md
  src/contents/2023-06-02-1.md
  src/contents/2023-06-07-1.md
  src/contents/2023-06-08-1.md
  src/contents/2023-06-09-1.md
  src/contents/2023-06-10-1.md
  src/contents/2023-06-11-1.md
  src/contents/2023-06-12-1.md
  src/contents/2023-06-13-1.md
  src/contents/2023-06-14-1.md
  src/contents/2023-06-15-1.md
  src/contents/2023-06-16-1.md
  src/contents/2023-06-17-1.md
  src/contents/2023-06-18-1.md
  src/contents/2023-06-19-1.md
  src/contents/2023-06-20-1.md
  src/contents/2023-06-24.md
Labels: document

記事一覧にページネーションを追加
  src/components/Articles.tsx
  src/components/PageNation.tsx
Labels: none

記事ページを移動させる
  src/app/articles/[page]/Articles.tsx
  src/app/page.tsx
Labels: none

ページコンポーネントのファイル名を変更しました。
  src/app/articles/[page]/page.tsx
  src/app/page.tsx
Labels: none

ページネーション機能を追加
  src/lib/pagenation.ts
Labels: none

記事一覧ページのページネーションを修正
  src/app/articles/[page]/page.tsx
  src/components/PageNation.tsx
  src/lib/pagination.ts
Labels: none

記事をページング表示するように修正<コミットメッセージ>
  src/app/articles/[page]/page.tsx
Labels: none

「next-themes」のライブラリを追加。
  docs/init.md
Labels: document

ページのスタイルを変更するためのコード変更
  src/app/articles/[page]/page.tsx
  src/app/layout.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/PageNation.tsx
Labels: none

SnsButtonコンポーネントを追加
  src/components/SnsButton.tsx
Labels: none

SNSアイコンを追加
  src/components/Footer.tsx
Labels: none

Biolinkアイコンを追加しました
  cspell.json
  src/components/Footer.tsx
  src/components/Header.tsx
Labels: none

レイアウトのクラス名を編集
  src/app/layout.tsx
Labels: none

ヘッダーコンポーネントからBioコンポーネントを削除
  src/components/Header.tsx
Labels: none

SnsButtonの色を変更する
  src/components/SnsButton.tsx
Labels: none

SnsButtonのテキスト色を変更
  src/components/SnsButton.tsx
Labels: none

.github/labeler.yml:

---
'editorconfig':
  - '.editorconfig'

'document':
  - '**/*.md'
  - '**/*.txt'
  - '**/*.rst'
  - 'LICENSE'

'textlint':
  - '**/.textlint*'

'yamllint':
  - '**/.yamllint'

'markdownlint':
  - '**/.markdownlint*.json'

'asdf':
  - '**/.tool-versions'

'actionlint':
  - '.github/workflows/actionlint.yml'

'CODEOWNERS':
  - 'CODEOWNERS'
